.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#title {
    color: #fff
}

#navbar {
    background-color: #131515;
    border-bottom: 5px solid #0270bc;
    height: 13vh;
    margin-bottom: 100px;
}

#footer-title {
    margin: 100px;
    align-items: center;
}