
<div id="text-container">
    <span class="text-word" *ngFor="let word of splittedText; let i = index">
        <span #testWord 
            [ngClass]="{'current': i === phraseIndex,
            'incorrectSpell': isCorrect === false && i === phraseIndex,
            'current': isCorrect && i === phraseIndex}">
            {{splittedText[i]}}
        </span>
    </span>    
</div>

<form [formGroup]="inputForm">
    <input formControlName="inputText"
        #spellCheckerInput 
        type="text"
        autocomplete="off"
        name="inputText" 
        (keyup)="spellChecker(inputForm.value.inputText, $event.key)">
</form>
{{inputForm.value.inputText}}

<br>
<br>
Keystrokes {{wordLength}} / {{correctWords}} / {{incorrectWords}}
<br>
{{wpmResult}}
<br>

<button (click)="timerReset()">Reset timer</button>
{{minutes}} : {{seconds}}

<div *ngIf="testIsOver === true">
    <form [formGroup]="leaderboardForm">
        <p> Salvar recorde </p>
        <input formControlName="name" type="text" required> 
        <button type="submit" (click)="saveLeaderboard(leaderboardForm.value.name)">Salvar</button>
    </form>
    <div *ngFor="let records of leaderboard">
        {{records.name}} {{records.wordsPerMinute}}
    </div>
</div>