#text-container {
    border: 1px solid gold;
}

.timeEnded {
    pointer-events: none;
    background-color: brown;
}
.text-word {
    /* border: 1px solid red; */
    margin-left: 5px;
    display: inline-block;
}

.current {
    border: 1px solid black;
    color: black;
}

.text {
    color: black
}

.incorrect {
    color: red;
}
.correctWord {
    color: green;
}

.incorrectSpell {
    border: 1px solid black;
    color: red;
}