#text-container {
    border: 1px solid gold;
}
.text-word {
    /* border: 1px solid red; */
    margin-left: 5px;
    display: inline-block;
}

.current {
    border: 1px solid black;
}

.correctWord {
    color: green;
}

.incorrectWord {
    color: red;
}