
<div id="text-container">
    <span class="text-word" *ngFor="let word of splittedText; let i = index">
        <span #testWord 
            [ngClass]="{'current': i === phraseIndex,
            'incorrectSpell': isCorrect === false && i === phraseIndex,
            'current': isCorrect && i === phraseIndex}">
            {{splittedText[i]}}
        </span>
    </span>    
</div>

<form [formGroup]="inputData">
    <input formControlName="inputText"
        #spellCheckerInput 
        type="text"
        autocomplete="off"
        name="inputText" 
        (keyup)="testeTexto(inputData.value.inputText, $event.key)">
</form>
{{inputData.value.inputText}}

<br>
<br>
Keystrokes {{wordLength}} / {{correctWords}} / {{incorrectWords}}
<br>
{{wpmResult}}
<br>

<button (click)="timerReset()">Reset timer</button>
{{minutes}} : {{seconds}}

<p>
     Teste de troca de classe css  {{isCorrect}}
</p>